<h2>Agregar nuevo usuario</h2>
<form (ngSubmit)="crearUsuario(nombre.value, correo.value)">
  <input type="text" #nombre placeholder="Nombre" required>
  <input type="email" #correo placeholder="Correo" required>
  <button type="submit">Crear</button>
</form>

<hr />

<h2>Lista de usuarios</h2>
<ul>
  <li *ngFor="let usuario of usuarios">
    <!-- Vista normal -->
    <span *ngIf="!usuarioEditando || usuarioEditando.id !== usuario.id">
      {{ usuario.nombre }} ({{ usuario.correo }})
      <button (click)="editarUsuario(usuario)">Editar</button>
      <button *ngIf="usuario.id" (click)="eliminarUsuario(usuario.id!)">Eliminar</button>
    </span>


    <span *ngIf="usuarioEditando && usuarioEditando.id === usuario.id">
      <input [(ngModel)]="usuarioEditando.nombre" name="editNombre" placeholder="Nombre">
      <input [(ngModel)]="usuarioEditando.correo" name="editCorreo" placeholder="Correo">
      <button (click)="guardarEdicion()">Guardar</button>
      <button (click)="cancelarEdicion()">Cancelar</button>
    </span>
  </li>
</ul>
